/tema12/test/nbproject/private/
/tema12/test/build/
/tema12/c121-122-123/ej1/build/
/tema12/c121-122-123/ej2/nbproject/private/
/tema12/c121-122-123/ej2/build/
/tema12/c121-122-123/ej3/nbproject/private/
/tema12/c121-122-123/ej3/build/
/tema13/ej1/ejemplo1/nbproject/private/
